

{{#if model.length}}

  <div class="test-list"> 

    {{#each test in model}}
      {{#with test}}
        
      {{#link-to 'test.result' test class="test"}}
          <div class="test-id">{{id}}</div>
          <div class="test-name">{{title}}</div>
      {{/link-to}}

      {{/with}}
    {{/each}}
  </div>

{{else}}

  You have not yet run any tests.
  <div class="button-run">Run a new Test</div>

{{/if}}


{{outlet}}

