/* TODO: reorder content by splitting CSS files based on view
 structure */


/* Routes */

/* -- Test */
.test-list {
  

  width: 100%;

  border: 1px solid black;

  margin-top: 1rem;

}


a.test-row {
  display: block;
  margin-bottom: 1rem;
  clear: both; /* cause of cell float */
}

.test-cell {
  width: 25%;
  float: left;
  text-align: center;
}

/* -- TestResult */
.result-view {
  position: absolute;
  left: 0;
  top: 0;


  width: 100%;
  height: 100%;

  z-index: 1;



}
/* -- components */
.line-bar-chart {
  
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: white;

}

